Repository kottans/frontend-2019-p2p, pull requests merged in 2019-03, with the labels that each got.

#44 tiny-js-world
  submissions/Temu4/tiny-js-world/index.js
Labels: task-TJSW

#40 Html css popup kris
  submissions/kris-almort/html-css-popup/.gitignore
  submissions/kris-almort/html-css-popup/README.md
  submissions/kris-almort/html-css-popup/css/main.css
  submissions/kris-almort/html-css-popup/gulpfile.js
  submissions/kris-almort/html-css-popup/img/audio.png
  submissions/kris-almort/html-css-popup/img/avatar-popup.png
  submissions/kris-almort/html-css-popup/img/avatar.jpg
  submissions/kris-almort/html-css-popup/img/icons-header.png
  submissions/kris-almort/html-css-popup/img/icons-popup.png
  submissions/kris-almort/html-css-popup/img/logo-search.jpg
  submissions/kris-almort/html-css-popup/index.html
  submissions/kris-almort/html-css-popup/package-lock.json
  submissions/kris-almort/html-css-popup/package.json
  submissions/kris-almort/html-css-popup/sass/main.scss
  submissions/kris-almort/html-css-popup/sass/partials/_common.scss
  submissions/kris-almort/html-css-popup/sass/partials/_header.scss
  submissions/kris-almort/html-css-popup/sass/partials/_popup.scss
  submissions/kris-almort/html-css-popup/sass/partials/_reset.scss
  submissions/kris-almort/html-css-popup/sass/partials/_search.scss
Labels: task-PopUp

#41 Html css popup
  submissions/Zakkarat/html-css-popup/css/main.css
  submissions/Zakkarat/html-css-popup/css/reset.css
  submissions/Zakkarat/html-css-popup/index.html
Labels: task-PopUp

#42 js_dom
  submissions/Temu4/js_dom/README.md
  submissions/Temu4/js_dom/img/ammo.png
  submissions/Temu4/js_dom/img/favicon.ico
  submissions/Temu4/js_dom/img/fighter-jet-solid.svg
  submissions/Temu4/js_dom/img/granades.png
  submissions/Temu4/js_dom/img/machine-gun.png
  submissions/Temu4/js_dom/img/pistols.png
  submissions/Temu4/js_dom/img/sniper.png
  submissions/Temu4/js_dom/img/winchesters.png
  submissions/Temu4/js_dom/index.html
  submissions/Temu4/js_dom/script.js
  submissions/Temu4/js_dom/style.css
Labels: task-DOM

#55 tiny js world
  submissions/madmaxWMFU/a-tiny-JS-world/index.js
Labels: task-TJSW

#38 friends app done
  submissions/Roka20012/friends-app/fonts/Graphik-Medium.otf
  submissions/Roka20012/friends-app/index.html
  submissions/Roka20012/friends-app/js/script.js
  submissions/Roka20012/friends-app/style.css
Labels: task-Friends

#52 Initial commit dom-api-task
  submissions/madmaxWMFU/dom-task/README.md
  submissions/madmaxWMFU/dom-task/css/style.css
  submissions/madmaxWMFU/dom-task/img/cap.png
  submissions/madmaxWMFU/dom-task/img/error.gif
  submissions/madmaxWMFU/dom-task/img/favicon.ico
  submissions/madmaxWMFU/dom-task/img/fon.jpg
  submissions/madmaxWMFU/dom-task/img/marvel_logo.png
  submissions/madmaxWMFU/dom-task/img/phone_cap.png
  submissions/madmaxWMFU/dom-task/index.html
  submissions/madmaxWMFU/dom-task/js/app.js
Labels: task-DOM

#54 HTML & CSS practice: Popup
  submissions/Shizopo/html-css-popup/img/bell-icon.svg
  submissions/Shizopo/html-css-popup/img/menu-icon.svg
  submissions/Shizopo/html-css-popup/img/user-avatar.svg
  submissions/Shizopo/html-css-popup/index.html
  submissions/Shizopo/html-css-popup/styles/index.css
Labels: task-PopUp
