Repository kottans/frontend-2019-p2p, pull requests merged in 2019-11, with the labels that each got.

#101 Friends-App
  submissions/madmaxWMFU/Friends-App/css/style.css
  submissions/madmaxWMFU/Friends-App/img/search_integration.png
  submissions/madmaxWMFU/Friends-App/index.html
  submissions/madmaxWMFU/Friends-App/js/app.js
Labels: task-Friends

#112 Add task tiny world
  submissions/dashakim/tiny-world/index.js
Labels: task-TJSW

#97 js-dom
  submissions/Barasii/DOM-menu/css/style.css
  submissions/Barasii/DOM-menu/img/alfa romeo.png
  submissions/Barasii/DOM-menu/img/audi.png
  submissions/Barasii/DOM-menu/img/bentley.png
  submissions/Barasii/DOM-menu/img/bugatti.png
  submissions/Barasii/DOM-menu/img/buick.png
  submissions/Barasii/DOM-menu/img/cadillac.png
  submissions/Barasii/DOM-menu/img/car-icon.jpg
  submissions/Barasii/DOM-menu/img/chevrolet.png
  submissions/Barasii/DOM-menu/img/chrysler.png
  submissions/Barasii/DOM-menu/img/daewoo.png
  submissions/Barasii/DOM-menu/img/daihatsu.png
  submissions/Barasii/DOM-menu/img/dodge.png
  submissions/Barasii/DOM-menu/img/ferrari.png
  submissions/Barasii/DOM-menu/img/fiat.png
  submissions/Barasii/DOM-menu/img/fiogrid.jpg
  submissions/Barasii/DOM-menu/img/gm.png
  submissions/Barasii/DOM-menu/img/gmc.png
  submissions/Barasii/DOM-menu/img/hino.png
  submissions/Barasii/DOM-menu/img/holden.png
  submissions/Barasii/DOM-menu/img/jeep.png
  submissions/Barasii/DOM-menu/img/lamborghini.png
  submissions/Barasii/DOM-menu/img/lancia.png
  submissions/Barasii/DOM-menu/img/lexus.png
  submissions/Barasii/DOM-menu/img/man.png
  submissions/Barasii/DOM-menu/img/masserati.png
  submissions/Barasii/DOM-menu/img/porshe.png
  submissions/Barasii/DOM-menu/img/ram.png
  submissions/Barasii/DOM-menu/img/scania.png
  submissions/Barasii/DOM-menu/img/scion.png
  submissions/Barasii/DOM-menu/img/seat.png
  submissions/Barasii/DOM-menu/img/skoda.png
  submissions/Barasii/DOM-menu/img/subaru.png
  submissions/Barasii/DOM-menu/img/toyota.png
  submissions/Barasii/DOM-menu/img/volkswagen.png
  submissions/Barasii/DOM-menu/index.html
  submissions/Barasii/DOM-menu/js/menu.js
Labels: task-DOM

#99 evgeniy 241984 - Html css popup done
  submissions/dashakim/popup_css_html/css/main.css
  submissions/evgeniy241984/html-css-popup/.gitignore
  submissions/evgeniy241984/html-css-popup/README.md
  submissions/evgeniy241984/html-css-popup/favicons/android-icon-144x144.png
  submissions/evgeniy241984/html-css-popup/favicons/android-icon-192x192.png
  submissions/evgeniy241984/html-css-popup/favicons/android-icon-36x36.png
  submissions/evgeniy241984/html-css-popup/favicons/android-icon-48x48.png
  submissions/evgeniy241984/html-css-popup/favicons/android-icon-72x72.png
  submissions/evgeniy241984/html-css-popup/favicons/android-icon-96x96.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-114x114.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-120x120.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-144x144.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-152x152.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-180x180.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-57x57.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-60x60.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-72x72.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-76x76.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon-precomposed.png
  submissions/evgeniy241984/html-css-popup/favicons/apple-icon.png
  submissions/evgeniy241984/html-css-popup/favicons/browserconfig.xml
  submissions/evgeniy241984/html-css-popup/favicons/favicon-16x16.png
  submissions/evgeniy241984/html-css-popup/favicons/favicon-32x32.png
  submissions/evgeniy241984/html-css-popup/favicons/favicon-96x96.png
  submissions/evgeniy241984/html-css-popup/favicons/favicon.ico
  submissions/evgeniy241984/html-css-popup/favicons/manifest.json
  submissions/evgeniy241984/html-css-popup/favicons/ms-icon-144x144.png
  submissions/evgeniy241984/html-css-popup/favicons/ms-icon-150x150.png
  submissions/evgeniy241984/html-css-popup/favicons/ms-icon-310x310.png
  submissions/evgeniy241984/html-css-popup/favicons/ms-icon-70x70.png
  submissions/evgeniy241984/html-css-popup/img/account.png
  submissions/evgeniy241984/html-css-popup/img/blogger.png
  submissions/evgeniy241984/html-css-popup/img/business.png
  submissions/evgeniy241984/html-css-popup/img/calendar.png
  submissions/evgeniy241984/html-css-popup/img/contacts.png
  submissions/evgeniy241984/html-css-popup/img/docs.png
  submissions/evgeniy241984/html-css-popup/img/drive.png
  submissions/evgeniy241984/html-css-popup/img/earth.png
  submissions/evgeniy241984/html-css-popup/img/icons8-bell-48.png
  submissions/evgeniy241984/html-css-popup/img/icons8-squared-menu-48-focused.png
  submissions/evgeniy241984/html-css-popup/img/icons8-squared-menu-48.png
  submissions/evgeniy241984/html-css-popup/img/keep.png
  submissions/evgeniy241984/html-css-popup/img/man.png
  submissions/evgeniy241984/html-css-popup/img/map.png
  submissions/evgeniy241984/html-css-popup/img/o-plus.png
  submissions/evgeniy241984/html-css-popup/img/omail.png
  submissions/evgeniy241984/html-css-popup/img/photos.png
  submissions/evgeniy241984/html-css-popup/img/play.png
  submissions/evgeniy241984/html-css-popup/img/search.png
  submissions/evgeniy241984/html-css-popup/img/translate.png
  submissions/evgeniy241984/html-css-popup/img/youtube.png
  submissions/evgeniy241984/html-css-popup/index.html
  submissions/evgeniy241984/html-css-popup/styles/index.css
Labels: task-PopUp

#113 Hooli-style Popup
  submissions/solaryasha/html-css-popup/README.md
  submissions/solaryasha/html-css-popup/css/styles.css
  submissions/solaryasha/html-css-popup/img/acc_img.PNG
  submissions/solaryasha/html-css-popup/img/ads.png
  submissions/solaryasha/html-css-popup/img/apps.jpg
  submissions/solaryasha/html-css-popup/img/apps.png
  submissions/solaryasha/html-css-popup/img/bell.png
  submissions/solaryasha/html-css-popup/img/blogs.png
  submissions/solaryasha/html-css-popup/img/calendar.png
  submissions/solaryasha/html-css-popup/img/chat.png
  submissions/solaryasha/html-css-popup/img/classroom.png
  submissions/solaryasha/html-css-popup/img/collection.png
  submissions/solaryasha/html-css-popup/img/contacts.png
  submissions/solaryasha/html-css-popup/img/documents.png
  submissions/solaryasha/html-css-popup/img/favicon.png
  submissions/solaryasha/html-css-popup/img/files.png
  submissions/solaryasha/html-css-popup/img/mail.png
  submissions/solaryasha/html-css-popup/img/maps.png
  submissions/solaryasha/html-css-popup/img/mars.png
  submissions/solaryasha/html-css-popup/img/mic.png
  submissions/solaryasha/html-css-popup/img/news.png
  submissions/solaryasha/html-css-popup/img/photos.png
  submissions/solaryasha/html-css-popup/img/search.png
  submissions/solaryasha/html-css-popup/img/search_hooli.jpg
  submissions/solaryasha/html-css-popup/img/tanslation.png
  submissions/solaryasha/html-css-popup/img/videos.png
  submissions/solaryasha/html-css-popup/index.html
Labels: task-PopUp
