Repository kottans/frontend-2019-p2p, pull requests merged in 2019-05, with the labels that each got.

#66 OOP Frogger Game
  submissions/madmaxWMFU/frogger-game/css/style.css
  submissions/madmaxWMFU/frogger-game/images/Gem Blue.png
  submissions/madmaxWMFU/frogger-game/images/Gem Green.png
  submissions/madmaxWMFU/frogger-game/images/Gem Orange.png
  submissions/madmaxWMFU/frogger-game/images/Heart.png
  submissions/madmaxWMFU/frogger-game/images/Key.png
  submissions/madmaxWMFU/frogger-game/images/Rock.png
  submissions/madmaxWMFU/frogger-game/images/Selector.png
  submissions/madmaxWMFU/frogger-game/images/Star.png
  submissions/madmaxWMFU/frogger-game/images/char-boy.png
  submissions/madmaxWMFU/frogger-game/images/char-cat-girl.png
  submissions/madmaxWMFU/frogger-game/images/char-horn-girl.png
  submissions/madmaxWMFU/frogger-game/images/char-pink-girl.png
  submissions/madmaxWMFU/frogger-game/images/char-princess-girl.png
  submissions/madmaxWMFU/frogger-game/images/enemy-bug.png
  submissions/madmaxWMFU/frogger-game/images/grass-block.png
  submissions/madmaxWMFU/frogger-game/images/stone-block.png
  submissions/madmaxWMFU/frogger-game/images/water-block.png
  submissions/madmaxWMFU/frogger-game/index.html
  submissions/madmaxWMFU/frogger-game/js/app.js
  submissions/madmaxWMFU/frogger-game/js/engine.js
  submissions/madmaxWMFU/frogger-game/js/resources.js
Labels: task-Frogger

#68 a tiny js world oop
  submissions/madmaxWMFU/a-tiny-JS-world-OOP/index.js
Labels: task-TJSW-OOP

#70 Memory game
  submissions/madmaxWMFU/memory-game/img/koloda.png
  submissions/madmaxWMFU/memory-game/index.html
  submissions/madmaxWMFU/memory-game/js/app.js
  submissions/madmaxWMFU/memory-game/style/style.css
Labels: task-MPG

#72 a-tiny-JS-world: done first aproach
  submissions/aymkin/a-tiny-JS-world/index.js
Labels: task-TJSW

#71 Dom api task
  submissions/aymkin/js-dom/README.MD
  submissions/aymkin/js-dom/favicon.ico
  submissions/aymkin/js-dom/img/banana.png
  submissions/aymkin/js-dom/img/durian.png
  submissions/aymkin/js-dom/img/grape.png
  submissions/aymkin/js-dom/img/orange.png
  submissions/aymkin/js-dom/img/pear.png
  submissions/aymkin/js-dom/index.html
  submissions/aymkin/js-dom/index.js
  submissions/aymkin/js-dom/style.css
Labels: task-DOM

#45 tiny-js-world-oop done
  submissions/Temu4/tiny-js-world-oop/index.js
Labels: task-TJSW-OOP
