Repository kottans/frontend-2019-p2p, pull requests merged in 2019-12, with the labels that each got.

#124 add a-tiny-js-world to branch from master
  submissions/dafen173/a-tiny-js-world/index.js
Labels: task-TJSW

#122 Add task oop exercise - a tiny world
  submissions/dashakim/a-tiny-world2/index.js
Labels: task-TJSW-OOP

#111 Add oop task frogger game
  submissions/dashakim/oop-task/README.md
  submissions/dashakim/oop-task/css/style.css
  submissions/dashakim/oop-task/images/Gem Blue.png
  submissions/dashakim/oop-task/images/Gem Green.png
  submissions/dashakim/oop-task/images/Gem Orange.png
  submissions/dashakim/oop-task/images/Heart.png
  submissions/dashakim/oop-task/images/Key.png
  submissions/dashakim/oop-task/images/Rock.png
  submissions/dashakim/oop-task/images/Selector.png
  submissions/dashakim/oop-task/images/Star.png
  submissions/dashakim/oop-task/images/car.png
  submissions/dashakim/oop-task/images/char-boy.png
  submissions/dashakim/oop-task/images/char-cat-girl.png
  submissions/dashakim/oop-task/images/char-horn-girl.png
  submissions/dashakim/oop-task/images/char-pink-girl.png
  submissions/dashakim/oop-task/images/char-princess-girl.png
  submissions/dashakim/oop-task/images/enemy-bug.png
  submissions/dashakim/oop-task/images/grass-block.png
  submissions/dashakim/oop-task/images/stone-block.png
  submissions/dashakim/oop-task/images/water-block.png
  submissions/dashakim/oop-task/index.html
  submissions/dashakim/oop-task/js/app.js
  submissions/dashakim/oop-task/js/engine.js
  submissions/dashakim/oop-task/js/resources.js
Labels: task-Frogger

#123 JS-DOM
  submissions/solaryasha/js-dom/css/styles.css
  submissions/solaryasha/js-dom/img/CSGO.jpg
  submissions/solaryasha/js-dom/img/Dota2.jpg
  submissions/solaryasha/js-dom/img/LoL.jpg
  submissions/solaryasha/js-dom/img/hearthstone.jpg
  submissions/solaryasha/js-dom/img/hero00.jpg
  submissions/solaryasha/js-dom/img/overwatch.jpeg
  submissions/solaryasha/js-dom/index.html
  submissions/solaryasha/js-dom/js/script.js
Labels: task-DOM

#104 Html css popup
  submissions/gorodiskiy/HTML-CSS-Popup/css/main.css
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-acc.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-blogger.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-booble+.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-bussines.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-classroom.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-collection.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-contact.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-dairy.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-disk.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-docs.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-earth.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-jumboard.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-keep.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-mail.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-map.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-market.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-massager.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-photos.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-search.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-translate.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/apps-tube.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/icon-apps.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/icon-bell.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/icon-logo.png
  submissions/gorodiskiy/HTML-CSS-Popup/img/logo.jpg
  submissions/gorodiskiy/HTML-CSS-Popup/img/voice-search.png
  submissions/gorodiskiy/HTML-CSS-Popup/index.html
Labels: task-PopUp

#127 Add task memory game
  submissions/dashakim/memory-game/images.js
  submissions/dashakim/memory-game/img/behance.svg
  submissions/dashakim/memory-game/img/blogger.svg
  submissions/dashakim/memory-game/img/dribbble.svg
  submissions/dashakim/memory-game/img/dropbox.svg
  submissions/dashakim/memory-game/img/facebook.svg
  submissions/dashakim/memory-game/img/icon-behance.svg
  submissions/dashakim/memory-game/img/icon-blogger.svg
  submissions/dashakim/memory-game/img/icon-dribbble.svg
  submissions/dashakim/memory-game/img/icon-dropbox.svg
  submissions/dashakim/memory-game/img/icon-facebook.svg
  submissions/dashakim/memory-game/img/icon-instagram.svg
  submissions/dashakim/memory-game/img/icon-linkedin.svg
  submissions/dashakim/memory-game/img/icon-messenger.svg
  submissions/dashakim/memory-game/img/icon-pinterest.svg
  submissions/dashakim/memory-game/img/icon-question.svg
  submissions/dashakim/memory-game/img/icon-skype.svg
  submissions/dashakim/memory-game/img/icon-telegram.svg
  submissions/dashakim/memory-game/img/icon-tumblr.svg
  submissions/dashakim/memory-game/img/icon-tweeter.svg
  submissions/dashakim/memory-game/img/icon-vimeo.svg
  submissions/dashakim/memory-game/img/icon-whatup.svg
  submissions/dashakim/memory-game/img/icon-youtube.svg
  submissions/dashakim/memory-game/img/instagram.svg
  submissions/dashakim/memory-game/img/linkedin.svg
  submissions/dashakim/memory-game/img/messenger.svg
  submissions/dashakim/memory-game/img/pinterest.svg
  submissions/dashakim/memory-game/img/question.svg
  submissions/dashakim/memory-game/img/skype.svg
  submissions/dashakim/memory-game/img/telegram.svg
  submissions/dashakim/memory-game/img/tumblr.svg
  submissions/dashakim/memory-game/img/tweeter.svg
  submissions/dashakim/memory-game/img/whatup.svg
  submissions/dashakim/memory-game/img/youtube.svg
  submissions/dashakim/memory-game/index.html
  submissions/dashakim/memory-game/script.js
  submissions/dashakim/memory-game/style.css
Labels: task-MPG
